<p>Thankk you {{name}}, for registration</p>

<p>Please click the below link to verify your email</p>
<p>
    <h3><a href='{{url}}'>Confirm</a></h3>
</p>

<p>If you did not request this email you can safely ignore it.</p>